body {
	background-image: url('https://openclipart.org/download/221669/BurningPentagram.svg');
}

div {
	background-color: #ffaaee;
	border: 3px;
	border-color: black;
	border-style: solid;
	text-align: center;
	border-radius: 15px;
	margin: 5px 20px 10px 20px;
	box-shadow: 10px 10px 10px #111111;
}

nav {
	text-align: center;
	background-color: #aaffaa;
	border: 3px;
	border-color: black;
	border-style: solid;
	border-radius: 15px;
	margin: 5px 20px 5px 20px;
}

.name {
	color: #ffffff;
	background-color: #000066;
	border-color: black;
	border-style: solid;
	text-align: center;
	border-radius: 10px;
	margin: 5px 80px 5px 80px;
	border: 5px
}

img {
	border: 5px solid #3333ff;
	border-radius: 15px;
}
